# Docker
# Build and push an image to Azure Container Registry
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

schedules:
- cron: "00 12,0 * * 1-5"
  displayName: Nightly Full Tests
  branches:
    include:
    - release/*
    - hotfix/*
    - develop
  always: false
- cron: "00 22 * * 6"
  displayName: Weekly Security Scan
  branches:
    include:
    - master
    - main
    - support/*
  always: true

pr:
  branches:
    include:
      - develop
      - feature/*
      - release/*
      - hotfix/*
      - master
      - main

trigger:
  batch: true
  branches:
    include:
      - '*'
  tags:
    include:
      - 'v*'

resources:
  repositories:
    - repository: TemplatesRepository
      type: github
      endpoint: GitHubConnection
      name: prometeia-erm/mp_azure_templates

parameters:
  - name: test
    displayName: Run Tests?
    type: string
    default: 'fast'
    values:
      - 'fast'
      - 'skip'

variables:
  # App specific
  app: numpy-financial
  buildId: $[counter(variables['Build.SourceBranchName'], 1)]
  projectDir: '$(Build.SourcesDirectory)/${{variables.app}}'
  templatesDir: '$(Build.SourcesDirectory)/mp_azure_templates'

  # Build parameters
  pypiRepoName: 'prometeia'
  sourceRepositories: 'prometeia'
  publishRepositories: 'prometeia'
  poetryVersion: '2.1.2'
  pythonPackageArtifact: pythonPackage
  pythonRequirementsArtifact: pythonRequirements

  enableMongodb: false
  runLegacyTemplateTests: false
  publishPackage: ${{ ne(variables['Build.SourceBranch'], 'refs/heads/main') }}

  # Docker parameters
  dockerRegistryService: 'prometeia'
  imageRepository: 'mp/${{variables.app}}'
  containerRegistry: 'prometeia.azurecr.io'
  dockerfilePath: '${{variables.projectDir}}/.azure/Dockerfile'

  # Sonar parameters
  sonarCloudService: 'SonarCloudSC'  # old: 'sonarqube-dev'

  # Agent VM image name
  vmImageName: 'ubuntu-latest'


jobs:
- job: checkmarx_scan
  displayName: 'CheckmarX scan'
  steps:
    - task: Checkmarx AST@2
      inputs:
        CheckmarxService: 'Checkmarx One'
        projectName: '$(Build.Repository.Name)'
        branchName: '$(Build.SourceBranchName)'
        additionalParams: "--debug --scan-timeout 120 --scan-types sast,sca,iac-security --file-source ${{variables.projectDir}} --file-include 'Dockerfile,*.py,*.lock,*.toml,*.yaml,*.yml' --sca-filter '!tests/**,!tools/**,*.lock,*.toml' --sast-filter '!tests/**,!tools/**' --iac-security-platforms Dockerfile --iac-security-filter '!tests/**,!tools/**,Dockerfile'"
- job: python_build_test
  displayName: 'Build and test python package'
  variables:
  - group: pypi-secrets
  - group: external-services
  pool:
    vmImage: $(vmImageName)
  steps:
  - checkout: self
    fetchDepth: 0
    persistCredentials: true
  - checkout: TemplatesRepository
  - template: templates/poetry/setup-poetry/template.yaml@TemplatesRepository
    parameters:
      poetryVersion: $(poetryVersion)
      pythonVersion: 3.11
  - script: |
      SIMPLE_REPO_URL="$(pypiUrlUpload)"
      SIMPLE_REPO_URL="${SIMPLE_REPO_URL%/}"
      if [[ "$SIMPLE_REPO_URL" != */simple ]]; then
        SIMPLE_REPO_URL="${SIMPLE_REPO_URL}/simple"
      fi
      SIMPLE_REPO_URL="${SIMPLE_REPO_URL}/"
      SIMPLE_REPO_URL_SANITIZED=$(echo "$SIMPLE_REPO_URL" | sed -E 's#(https?://)[^/@]+@#\1#')
      echo "##vso[task.setvariable variable=prometeia.name]prometeia"
      echo "##vso[task.setvariable variable=prometeia.url]$SIMPLE_REPO_URL"
      echo "##vso[task.setvariable variable=prometeia.username]$(pypiUsername)"
      echo "##vso[task.setvariable variable=prometeia.password]$(pypiToken)"
      echo "Configured Poetry repo alias: prometeia"
      echo "Configured Poetry repo URL: $SIMPLE_REPO_URL_SANITIZED"
    displayName: Map legacy secrets to Poetry repository variables
    workingDirectory: $(projectDir)
  - template: templates/02-compute-version.yaml@TemplatesRepository
    parameters:
      branch: $(Build.SourceBranch)
      buildNumber: $(buildId)
      projectDir: $(projectDir)
      templatesDir: $(templatesDir)
  - template: pipelines/poetry.yaml@TemplatesRepository
    parameters:
      pythonVersion: 3.11
      poetryVersion: $(poetryVersion)
      sourceRepositories: $(sourceRepositories)
      projectDir: $(projectDir)
      runTests: false
      publishCoverage: false
      packageVersion: ""
      publishRepositories: $(publishRepositories)
      publishPackage: ${{ variables.publishPackage }}
      sonarCloudServiceConnection: '${{variables.sonarCloudService}}'
      blockOnQualityGates: false
  - template: templates/sonarcloud-setup-and-scan/sonarcloud-setup-and-scan.yaml@TemplatesRepository
    parameters:
      sonarCloudServiceConnection: '${{variables.sonarCloudService}}'
      workingDirectory: '$(projectDir)'
      organization: prometeia-erm
      projectKey: 'erm-mp-${{variables.app}}'
      projectName: 'erm-mp-${{variables.app}}'
      projectBaseDir: '$(projectDir)'
      mainBranchName: main # main, master, it depends on the project repo... (develop doesn't work)
      blockOnQualityGates: false
      debug: true
- job: nox_matrix_tests
  displayName: 'Nox matrix tests (py311/py313)'
  variables:
  - group: pypi-secrets
  - group: external-services
  pool:
    vmImage: $(vmImageName)
  strategy:
    matrix:
      py311_np1:
        pythonVersion: '3.11'
        noxSession: 'tests_py311_np1'
      py311_np2:
        pythonVersion: '3.11'
        noxSession: 'tests_py311_np2'
      py313_np2:
        pythonVersion: '3.13'
        noxSession: 'tests_py313_np2'
  steps:
  - checkout: self
    fetchDepth: 1
    persistCredentials: true
  - checkout: TemplatesRepository
  - template: templates/01-setup.yaml@TemplatesRepository
    parameters:
      poetryVersion: $(poetryVersion)
      pythonVersion: $(pythonVersion)
      pypiUrlUpload: $(pypiUrlUpload)
      pypiUsername: $(pypiUsername)
      pypiToken: $(pypiToken)
      repoName:  $(pypiRepoName)
  - ${{ if ne(parameters['test'], 'skip') }}:
    - script: |
        python -m pip install --upgrade pip
        python -m pip install --upgrade nox
        nox -s $(noxSession)
      displayName: Run $(noxSession)
      workingDirectory: $(projectDir)
