trigger:
  branches:
    include:
      - develop
      - feature/*
      - release/*
      - hotfix/*
      - master
      - main
      - support/*

pr:
  branches:
    include:
      - develop
      - feature/*
      - release/*
      - hotfix/*
      - master
      - main

pool:
  vmImage: ubuntu-latest

jobs:
  - job: nox_matrix_tests
    displayName: "Nox matrix tests"
    strategy:
      matrix:
        py311_np1:
          pythonVersion: "3.11"
          noxSession: "tests_py311_np1"
        py311_np2:
          pythonVersion: "3.11"
          noxSession: "tests_py311_np2"
        py313_np2:
          pythonVersion: "3.13"
          noxSession: "tests_py313_np2"
    steps:
      - checkout: self
        fetchDepth: 1

      - task: UsePythonVersion@0
        displayName: "Use Python $(pythonVersion)"
        inputs:
          versionSpec: "$(pythonVersion)"

      - script: |
          python -m pip install --upgrade pip nox
        displayName: "Install nox"

      - script: |
          nox -s $(noxSession)
        displayName: "Run $(noxSession)"
